@charset "UTF-8";
::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
*{
  margin: 0px;
  padding: 0px;
}

body, main{
  width: 100vw;
  height: 100vh;
  background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
iframe{
  position: relative;
  top: 81px;
  left: 22px;
  width: 267px;
  height: 472px;
  

}
section#telefone{
  position: absolute;
  background-image: url(pacote-d013/imagens/frame-iphone.png);
  width: 309px;
  height: 622px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-attachment: fixed;
  
}
img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px black;
}
img:hover{
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px white;
  transition: 2s;
}

section#redes-sociais{
  text-align: right;
  position: absolute;
  top: 15%;
  left: 80%;
}